.wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper canvas {
  border: 1px solid green;
  position: fixed;
  top: 50%;
  left: 25%;
  transform: translate(0%, -50%);
}
.ul {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 400px;
  transform: translate(50%, -50%);
  color: black;
  font-size: 18px;
  list-style: none;
}
.ul h2,
.ul p {
  opacity: 0;
}
